body {
    background-image: url("light_grey.png");
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    margin: auto;
}

a.Kristen {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 300px;
    margin-left: 42%;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-decoration: none;
    float: left;
    font-size: 30px;
}

header {
    width: 100%;
    position: fixed;
    color: #777777;
    box-shadow: 0 4px 2px -2px;
    object-position: fixed;
}

#wrap {
    float: left;
    display: in-line block;
    margin: 10px;
}

.segment {
    color: #dddddd;
}
hr {
    color: #dddddd;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding-top: 20px;
    padding-left: 20px;
}

nav {
    background-color: #ffffff;
    float: right;
    text-decoration: none;
    text-align: right;
    width: 100%;
    padding-right: 21%;
}

nav a {
    color: #777777;
    text-decoration: none;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

nav a.active {
    background-color: #4aaaa5;
    color: #ffffff;
    padding-bottom: 20px;
}

nav a:hover {
    background-color: #777777;
    color: #ffffff;
  }

.portfolio {
    background-color: #ffffff;
    border-color: #dddddd;
}

.wrap {
    float: left;
    margin: 10px;
}

.message {
    border: 2px solid;
    padding: 20px;
    width: 600px;
    height: 300px;
    border-color: #dddddd;
    resize: both;
    overflow: auto;
}

form {
    background-color: #ffffff;
    border-color: #dddddd;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
}

button {
    color: #ffffff;
    background-color: #4aaaa5;
}

section {
    border-color: #dddddd;
    background-color: #ffffff;
    max-width: 960px;
    margin: auto;
    position: relative;
    padding-bottom: 20px;
}

span {
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: #4aaaa5;
    display: inline-block;
}

.games {
    width: 200px;
    height: 150px;
    padding-left: 85px;
    padding-top: 100px;
    position: absolute;
    color: #ffffff;
}

.widgets {
    width: 200px;
    height: 150px;
    padding-left: 85px;
    padding-top: 100px;
    position: absolute;
    color: #ffffff;
}

.apps {
    width: 200px;
    height: 150px;
    padding-left: 85px;
    padding-top: 100px;
    position: absolute;
    color: #ffffff;
}

.recipes {
    width: 200px;
    height: 150px;
    padding-left: 85px;
    padding-top: 100px;
    position: absolute;
    color: #ffffff;
}

.photographs {
    width: 200px;
    height: 150px;
    padding-left: 85px;
    padding-top: 100px;
    position: absolute;
    color: #ffffff;
}

.images {
    width: 200px;
    height: 150px;
    padding: 20px;
}

footer {
    background-color: #666666;
    color: #ffffff;
    text-align: center; 
    padding-top: 50px;
    margin-top: 100px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Resource for @media code: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */
/* Resource for learning @media queries: https://www.youtube.com/watch?v=2KL-z9A56SQ&authuser=0 */
/* Resource for testing media queries: https://www.youtube.com/watch?v=dPU5xGty0tE&app=desktop  */

@media (max-width: 960px) {
    header {
        width: 100%;
        position: fixed;
        color: #777777;
    }
    section {
        text-align: left;
        max-width: 500px;
        padding-right: 10px;
        padding-left: 10px;
        position: left;
        overflow-y: scroll;
        height: 100%;
        margin-top: 10px;
       }
    nav {
        background-color: #ffffff;
        text-decoration: none;
        text-align: right;
        padding-right: 5%;
    }
    a.Kristen {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #4aaaa5;
        color: #ffffff;
        width: 300px;
        margin-left: 10%;
        padding-left: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-decoration: none;
        float: left;
        font-size: 30px;
    }

    form {
        background-color: #ffffff;
        border-color: #dddddd;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    .message {
        border: 2px solid;
        padding: 20px;
        width: 300px;
        height: 200px;
        border-color: #dddddd;
        resize: both;
        overflow: auto;
    }

    .text {
        border-width: 3px solid;
        border-color: #dddddd;
    }

    button {
        color: #ffffff;
        background-color: #4aaaa5;
    }

}

@media (max-width: 768px) {
    header {
        width: 800px;
        position: fixed;
        color: #777777;
    }
    section {
        align: center;
        max-width: 500px;
        overflow-y: scroll;
        margin-top: 10px;
       }
    nav {
        background-color: #ffffff;
        text-decoration: none;
        text-align: right;
        padding-right: 5%;
    }
    a.Kristen {
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: #4aaaa5;
        color: #ffffff;
        width: 300px;
        margin-left: 10%;
        padding-left: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-decoration: none;
        float: left;
        font-size: 30px;
    }

    button {
        color: #ffffff;
        background-color: #4aaaa5;
    }
}

@media (max-width: 640px) {
    header {
        max-width: 641px;
        position: center static;
        color: #777777;
        font-size: 12px;
    }
    a.Kristen {
        color: #ffffff;
        width: 700px;
        padding-bottom: 20px;
        padding-top: 20px;
        margin-left: 0%;
        text-align: center;
        float: none;
        font-size: 30px;
    }
    nav {
        background-color: #ffffff;
        text-decoration: none;
        text-align: center;
        position: center;
        font-size: 14px;
        padding-left: 10px;
        padding-top: 5px;
    }

    section {
        margin-top: 75px;
        max-width: 500px;
        position: center static;
        font-size: 11px;
        overflow-y: scroll;
       }

    form {
        background-color: #ffffff;
        border-color: #dddddd;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #wrap {
        float: center;
        display: flex;
        margin: 10px;
    }

    button {
        color: #ffffff;
        background-color: #4aaaa5;
    }

/* how to make the page scroll properly source: https://stackoverflow.com/questions/45967303/how-to-get-image-to-scroll-behind-navbar */


}